body{
   
   
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: 20px;
    
  }

  /*.navbar-brand{
    color: rgb(246, 255, 255);
  }*/
  .navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}

  .bg-light {
    background-color: #761625!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(255 255 255 / 90%);
}
.nav-item{
  padding: 5px 13px 3px 12px;
}
  /*.collapse.navbar-collapse.float-right{
    margin-right: -180px;
  }
  */

  a.active, a:hover{
    background:#7b7779;
    transition: .5s;
}
.logbtn{
  color: #fff !important;
}


/*background image with jumbotron*/

#thehero {
/*width: 96vw;*/
width: 96.3vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
}

.the-inner {
  background-color: rgba(256,256,256,0.8);
  width: 90vw;
  padding: 1rem;
}

/*image over text*/
#h2{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  #h4{
    color: rgb(125, 5, 93);
    font-weight: bold;
    font-size: 29px;
    margin-top: 12px;
    
  }
  
  .button{
    background-color: rgb(243, 244, 246);
    border-style: double;
    color: rgb(17, 16, 16);
    padding: 15px 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    
    
  }
  .button:hover{
    background-color: gray;
  }

/*service section*/
  section {
	align-items: center;
	padding: 10px 60px;
	background-color: antiquewhite;
}
/*Testimonial section
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}*/
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #3e0606;
	font-size: 24px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid #0f0101;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #2c470a;
  font-size: 20px;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/*About section(address,timing)*/

#footer {
	background-color: #761625;
	color: white;
	
}

#footer ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 2.2;
}

#footer h5 {
	font-size: 18px;
	color: white;
	margin-top: 40px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#footer a {
	color: #fffefe;
}

#footer a:hover,
#footer a:focus {
	text-decoration: none;
	color: white;
}

#footer .social-networks {
	padding-top: 20px;
	padding-bottom: 25px;
}

#footer .footer-items .fa {
	font-size: 18px;
	margin-bottom: 5px;
	background-color: white;
	color: #182c39;
	border-radius: 50%;
	padding-bottom: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 31px;
	text-decoration: none;
	transition: color 1s;
}

#footer .footer-items {
	margin: auto;
	padding-left: 50px;
	font-size: 20px;
}

#footer .fa-facebook:hover,
#footer .fa-instagram:hover {
	border: 1px solid #fff;
	color: #fff;
	background-color: #182c39;
}


/*.footer-copyright {
	background-color: #10222e;
}

.footer-copyright p {
	text-align: center;
	color: #ccc;
	font-size: 15px;
	padding: 10px 0;
	margin-bottom: 0;
}*/

#footer .hr-foot {
	width: 80%;
  	margin: 10px auto;
  	border: 1px solid #fff;
}

#footer .to-top {
	color: #fff;
	font-size: 30px;
	position: fixed;
	right: 12px;
	bottom: 12px;
	height: 40px;
	width: 40px;
	text-decoration: none;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5); 
	background-repeat: no-repeat;
	background-position: center;
}

#footer .to-top:hover {
	background-color: #222;
	color: #fff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/*********menucss*****************/
/*----  Main Style  ----*/
*{
  font-family: 'Baloo Bhai 2', cursive;
 
}
.jumbotron.jumbotron-fluid {
  background-color: rgb(236, 158, 158);
  margin-bottom: 1rem;
}


.button{
  background-color:  rgb(22,22,94);
  border-style: double;
  color: whitesmoke;
  padding: 10px 26px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  
  
}
/*.button:hover{
  background-color: rgb(44, 140, 48);
}*/

.flex-container{
  display: flex;
  margin-left: 31%;
  margin-bottom: 10px;
  
  
}
.button2{
  background-color:  rgb(22,22,94);
  border-style: double;
  color: whitesmoke;
  padding: 10px 26px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}
.button2:hover{
  background-color: rgb(44, 140, 48);
}

#cards_landscape_wrap-2{
  text-align: center;
  background: antiquewhite;
}
#cards_landscape_wrap-2 .container{
  padding-top: 1px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 60px; /*ups the box*/
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin: top 9px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;

  font-family: 'Baloo Bhai 2', cursive;
  letter-spacing: 1px;
  color: #00acc1;
}

/*add to cart css*/

/* Global settings */
 
.product-image {
  float: left;
  width: 20%;
}
 
.product-details {
  float: left;
  width: 37%;
}
 
.product-price {
  float: left;
  width: 12%;
}
 
.product-quantity {
  float: left;
  width: 10%;
}
 
.product-removal {
  float: left;
  width: 9%;
}
 
.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}
 
/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}
 
.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}
 
.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}
 
/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: 'Rs-';
}
 
/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
 
h1 {
  font-weight: 100;
}
 
label {
  color: #aaa;
}
 
.shopping-cart {
  margin-top: -45px;
}
 
/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}
 
/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}
 
/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
 
.checkout {
  float: right;
  border: 0;
  margin-top: 10px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}
 
.checkout:hover {
  background-color: #494;
}
 
/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
 
  .column-labels {
    display: none;
  }
 
  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
 
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
 
  .product-price {
    clear: both;
    width: 70px;
  }
 
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
 
  .product-quantity:before {
    content: 'x';
  }
 
  .product-removal {
    width: auto;
  }
 
  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }
 
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
 
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
 
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
/* checkout page */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}



.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}


.col-50,
.col-75 {
  padding: 0 16px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}







a {
  color: #2196F3;
}


span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  
}
